@charset "UTF-8";
pre {
    padding: 1rem;
    overflow: auto;
    font-size: 1rem;
}
  
pre[data-linenos] {
    padding: 1rem 0;
}

pre table td {
    padding-right: 0.2rem;
}
  
pre table td:nth-of-type(1) {
    text-align: center;
    user-select: none;
}

pre mark {
    display: block;
    background-color: rgba(254, 252, 232, 0.9);
}
  
pre table {
    width: 100%;
    border-collapse: collapse;
}

table {
    border-collapse: collapse;
    width: 80%;
    padding-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
    font-variant-numeric: tabular-nums;
}
  
th {
    background-color: #82b2c9;
}

th, td {
    text-align: left;
    padding: 8px;
}
  
tr:nth-child(even) {
    background-color: #f2f2f2;
}